@model WebApplication1.Models.SettingsModel

<input data-bind="value:CountOfElementForThread" /><br />
<input data-bind="value:CountOfImages" /><br />

<div>
    <input type="file" name="upload" id="uploadFile" multiple/><br />
    <button data-bind="click:SelectImages" >Загрузить</button>
</div>
<ul data-bind="foreach: SelectedImages">
    <li data-bind="text: name"></li>
</ul>


<div class="row" id="list">

</div>

<div id="loading" class="load" style="display: none">
    <p>Loading Data...</p>
</div>



